In [2]:
import pandas as pd
import numpy as np
import matplotlib as mp

In [3]:
df = pd.DataFrame(
    {
        "Name": ["Mr.Anthony", "Ms.Syntia", "Mr.Andreas"],
        "Age":[31,29,40],
        "Adress":["Valentine", "Rhodes", "Saint Denis"]
    }
)

SyntaxError: invalid syntax. Perhaps you forgot a comma? (636942065.py, line 3)