In [1]:
import pandas as pd
import numpy as np
import matplotlib as plt

In [2]:
data_star = pd.read_csv("StarWars.csv", encoding = "ISO-8859-1")

In [3]:
# df_star = pd.DataFrame(data_star)
data_star.head(10)
# df_star.columns

,RespondentID,Have you seen any of the 6 films in the Star Wars franchise?,Do you consider yourself to be a fan of the Star Wars film franchise?,Which of the following Star Wars films have you seen? Please select all that apply.,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Please rank the Star Wars films in order of preference with 1 being your favorite film in the franchise and 6 being your least favorite film.,...,Unnamed: 28,Which character shot first?,Are you familiar with the Expanded Universe?,Do you consider yourself to be a fan of the Expanded Universe?æ,Do you consider yourself to be a fan of the Star Trek franchise?,Gender,Age,Household Income,Education,Location (Census Region)
0,NaN,Response,Response,Star Wars: Episode I The Phantom Menace,Star Wars: Episode II Attack of the Clones,Star Wars: Episode III Revenge of the Sith,Star Wars: Episode IV A New Hope,Star Wars: Episode V The Empire Strikes Back,Star Wars: Episode VI Return of the Jedi,Star Wars: Episode I The Phantom Menace,...,Yoda,Response,Response,Response,Response,Response,Response,Response,Response,Response
1,3.292880e+09,Yes,Yes,Star Wars: Episode I The Phantom Menace,Star Wars: Episode II Attack of the Clones,Star Wars: Episode III Revenge of the Sith,Star Wars: Episode IV A New Hope,Star Wars: Episode V The Empire Strikes Back,Star Wars: Episode VI Return of the Jedi,3,...,Very favorably,I don't understand this question,Yes,No,No,Male,18-29,NaN,High school degree,South Atlantic
2,3.292880e+09,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Yes,Male,18-29,"$0 - $24,999",Bachelor degree,West South Central
3,3.292765e+09,Yes,No,Star Wars: Episode I The Phantom Menace,Star Wars: Episode II Attack of the Clones,Star Wars: Episode III Revenge of the Sith,NaN,NaN,NaN,1,...,Unfamiliar (N/A),I don't understand this question,No,NaN,No,Male,18-29,"$0 - $24,999",High school degree,West North Central
4,3.292763e+09,Yes,Yes,Star Wars: Episode I The Phantom Menace,Star Wars: Episode II Attack of the Clones,Star Wars: Episode III Revenge of the Sith,Star Wars: Episode IV A New Hope,Star Wars: Episode V The Empire Strikes Back,Star Wars: Episode VI Return of the Jedi,5,...,Very favorably,I don't understand this question,No,NaN,Yes,Male,18-29,"$100,000 - $149,999",Some college or Associate degree,West North Central
5,3.292731e+09,Yes,Yes,Star Wars: Episode I The Phantom Menace,Star Wars: Episode II Attack of the Clones,Star Wars: Episode III Revenge of the Sith,Star Wars: Episode IV A New Hope,Star Wars: Episode V The Empire Strikes Back,Star Wars: Episode VI Return of the Jedi,5,...,Somewhat favorably,Greedo,Yes,No,No,Male,18-29,"$100,000 - $149,999",Some college or Associate degree,West North Central
6,3.292719e+09,Yes,Yes,Star Wars: Episode I The Phantom Menace,Star Wars: Episode II Attack of the Clones,Star Wars: Episode III Revenge of the Sith,Star Wars: Episode IV A New Hope,Star Wars: Episode V The Empire Strikes Back,Star Wars: Episode VI Return of the Jedi,1,...,Very favorably,Han,Yes,No,Yes,Male,18-29,"$25,000 - $49,999",Bachelor degree,Middle Atlantic
7,3.292685e+09,Yes,Yes,Star Wars: Episode I The Phantom Menace,Star Wars: Episode II Attack of the Clones,Star Wars: Episode III Revenge of the Sith,Star Wars: Episode IV A New Hope,Star Wars: Episode V The Empire Strikes Back,Star Wars: Episode VI Return of the Jedi,6,...,Very favorably,Han,Yes,No,No,Male,18-29,NaN,High school degree,East North Central
8,3.292664e+09,Yes,Yes,Star Wars: Episode I The Phantom Menace,Star Wars: Episode II Attack of the Clones,Star Wars: Episode III Revenge of the Sith,Star Wars: Episode IV A New Hope,Star Wars: Episode V The Empire Strikes Back,Star Wars: Episode VI Return of the Jedi,4,...,Very favorably,Han,No,NaN,Yes,Male,18-29,NaN,High school degree,South Atlantic
9,3.292654e+09,Yes,Yes,Star Wars: Episode I The Phantom Menace,Star Wars: Episode II Attack of the Clones,Star Wars: Episode III Revenge of the Sith,Star Wars: Episode IV A New Hope,Star Wars: Episode V The Empire Strikes Back,Star Wars: Episode VI Return of the Jedi,5,...,Somewhat favorably,Han,No,NaN,No,Male,18-29,"$0 - $24,999",Some college or Associate degree,South Atlantic

In [4]:
id_1 = data_star["Have you seen any of the 6 films in the Star Wars franchise?"]
print(id_1)
id_2 = data_star["Do you consider yourself to be a fan of the Star Wars film franchise?"]
print(id_2)

0       Response
1            Yes
2             No
3            Yes
4            Yes
          ...
1182         Yes
1183         Yes
1184          No
1185         Yes
1186         Yes
Name: Have you seen any of the 6 films in the Star Wars franchise?, Length: 1187, dtype: object
0       Response
1            Yes
2            NaN
3             No
4            Yes
          ...
1182         Yes
1183         Yes
1184         NaN
1185         Yes
1186          No
Name: Do you consider yourself to be a fan of the Star Wars film franchise?, Length: 1187, dtype: object

In [5]:
yes_no = {
    "Yes" : True,
    "No" : False
}

series = id_1.map(yes_no)
series_2 = id_2.map(yes_no)

In [6]:
print(series)
print(series_2)

0         NaN
1        True
2       False
3        True
4        True
        ...
1182     True
1183     True
1184    False
1185     True
1186     True
Name: Have you seen any of the 6 films in the Star Wars franchise?, Length: 1187, dtype: object
0         NaN
1        True
2         NaN
3       False
4        True
        ...
1182     True
1183     True
1184      NaN
1185     True
1186    False
Name: Do you consider yourself to be a fan of the Star Wars film franchise?, Length: 1187, dtype: object

In [7]:
series = []
id_all_global = data_star.columns[3:9]
yes_no_dict = {0:'Star Wars: Episode I The Phantom Menace', 1:'Star Wars: Episode II Attack of the Clones', 2:'Star Wars: Episode III Revenge of the Sith', 3: 'Star Wars: Episode IV A New Hope', 4: 'Star Wars: Episode V The Empire Strikes Back', 5: 'Star Wars: Episode VI Return of the Jedi'}
# series = [series_1, series_2,series_3,series_4,series_5]
for i in id_all_global:
    id = data_star[i]
    for a in range(5):
        yes_no = {
                yes_no_dict[a] : True,
                np.NaN : False
            }
        if i == id_all_global[0]:
            series_1 = id.map(yes_no)
            series_1 = series_1.rename({id_all_global[0] : 'seen_1'})
            series.append(series_1)
        elif i == id_all_global[1]:
            series_2 = id.map(yes_no)
            series_1 = series_1.rename({ id_all_global[1] : 'seen_2'})
            series.append(series_2)
        elif i == id_all_global[2]:
            series_3 = id.map(yes_no)
            series_1 = series_1.rename({ id_all_global[2] : 'seen_3'})
            series.append(series_3)
        elif i == id_all_global[3]:
            series_4 = id.map(yes_no)
            series_1 = series_1.rename({ id_all_global[3] : 'seen_4'})
            series.append(series_4)
        elif i == id_all_global[4]:
            series_5 = id.map(yes_no)
            series_1 = series_1.rename({ id_all_global[4] : 'seen_5'})
            series.append(series_5)

In [8]:
data_star[data_star.columns[9:15]]

,Please rank the Star Wars films in order of preference with 1 being your favorite film in the franchise and 6 being your least favorite film.,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14
0,Star Wars: Episode I The Phantom Menace,Star Wars: Episode II Attack of the Clones,Star Wars: Episode III Revenge of the Sith,Star Wars: Episode IV A New Hope,Star Wars: Episode V The Empire Strikes Back,Star Wars: Episode VI Return of the Jedi
1,3,2,1,4,5,6
2,NaN,NaN,NaN,NaN,NaN,NaN
3,1,2,3,4,5,6
4,5,6,1,2,4,3
...,...,...,...,...,...,...
1182,5,4,6,3,2,1
1183,4,5,6,2,3,1
1184,NaN,NaN,NaN,NaN,NaN,NaN
1185,4,3,6,5,2,1
1186,6,1,2,3,4,5